.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

.whoWeAre {
    width: 100%;
    height: calc(100vh - 100px);
}

.whoWeAre h1 {
    margin-top: 35px;
    margin-left: 55px;
    font-size: 55px;
    color: #800020;

}

.whoWeAre p {
    margin-top: 35px;
    margin-left: 55px;
    font-size: 25px;
    margin-right: 50%;
    color: #754e59;
}

@media screen and (max-width: 1600px) {
    .whoWeAre p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .whoWeAre p {
        font-size: 18px;
    }
}

.heroImage {
    position: absolute;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 17% 0);

    background: #800020;
}

.heroImageImg {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 17% 0);

    position: absolute;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 95%;
    background-position: center;
    background-size: cover;
}

.timeline-container {
    overflow-x: auto;
    padding: 40px 20px;
    background: linear-gradient(to right, #800020, #800020);
}

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #800020;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #f45b69;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: white;
    background: #800020;
    font-weight: 400;
    border-radius: 15px;
}

.timeline ol li div time{
    font-weight: bold;
}

.timeline ol li div::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    border: none;
    margin-right: 20px;
    background: none;
}

.timeline .arrows .arrow__next {
    border: none;
    background: none;
}

.timeline .disabled {
    opacity: 0.5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        position: static;
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid #800020;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}

/*MEMBERS*/
.meetTheMembers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.meetTheMembers h1 {
    margin: 60px 0;
    font-size: 50px;
    color: white;
    padding: 20px 60px;
    background: #800020;
    border-radius: 30px;
    border-bottom: 10px solid #ff0000;
}

.decreation {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #fe8282;
    border-radius: 10px;
    margin-top: -40px;
}

.meetTheMembers div div h3 {
    font-size: 35px;
    color: #800020;
    margin: 60px 0 20px 0;
}

.meetTheMembersContent {
    width: 100%;
    height: 100%;
}

.meetTheMembersContentProfile {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.meetTheMembersContentProfile h4 {
    width: 150px;
    position: absolute;
    margin-top: 160px;
    font-size: 25px;
    color: #754e59;
}

.profilePicture {
    margin: 0 30px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1100px) {
    .profilePicture {
        width: 125px;
        height: 125px;
    }

    .meetTheMembersContentProfile h4 {
        width: 125px;
        font-size: 20px;
        margin-top: 140px;
    }
}

@media screen and (max-width: 1000px) {
    .whoWeAre p {
        font-size: 18px;
    }

    .heroImage {
        height: 50vh;
    }
}
