.hero {
    width: 100%;
    padding-top: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.buyOurMerch {
    width: calc(100% - 200px);
    height: auto;
    margin: 100px;
}

.buyOurMerch h1 {
    color: #800020;
    font-size: 70px;
}

.buyOurMerch p {
    margin-top: 40px;
    text-align: end;
    width: calc(100% - 500px);
    position: relative;
    font-size: 25px;
    right: -500px;
    line-height: 25px;
}

@media screen and (max-width: 1000px) {
    .buyOurMerch h1 {
        text-align: center;
    }

    .buyOurMerch p {
        width: 100%;
        right: 0;
        text-align: center;
    }
}

.bundle {
    padding: 20px 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.bundleInfo {
    width: 100%;
    height: auto;
    background: #800020;
    border-radius: 15px;
}

.productImage {
    width: 100%;
    height: 280px;

}

.productImageImg {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.productInfo {
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.productInfo h1, .productInfo p, .productInfo button {
    margin: 4px 10px;
    color: white;
}

.productInfo h1 {
    font-size: 25px;
    line-height: 30px;
}

.productInfo p {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.productInfo button {
    background: white;
    width: calc(100% - 20px);
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #800020;
    font-weight: bold;
    font-size: 15px;

    transition: 0.3s;
}

.productInfo button:hover {
    scale: 0.98;
    cursor: pointer;
}