.hero {
    width: 100%;
    padding-top: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.hero h1 {
    position: relative;
    bottom: -105px;
    font-size: 85px;
    color: #f45b69;
}

.highlights {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.highlightsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.highlightsBoxInfo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.highlightsBoxTitle {
    width: 40%;
    height: 100%;
    text-align: center;
}

.highlightsBoxTitle h1 {
    padding: 20px 0;
    background: #d85959;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}

.highlightsBoxImage {
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.highlightsBoxInfo p {
    margin: auto;
    padding: 50px;
    color: #800020;
    font-size: 20px;
    font-weight: 500;
}

.outreachActivities {
    margin-top: -60px;
    margin-bottom: 60px;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.outreachActivitiesWords {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    justify-content: center;
    width: 34%;
    height: 100%;
}

.outreachActivitiesWords h1 {
    color: #d85959;
    font-size: 70px;
    line-height: 60px;
}

.outreachActivitiesWords p {
    font-size: 25px;
}

.line {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: lightgray;
    margin: 40px 0;
}

.outreachActivitiesBoxes {
    width: 40%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
    grid-gap: 20px;
}

.outreachActivitiesBoxesInfo {
    text-align: center;
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.outreachActivitiesBoxesInfo h1 {
    margin-top: 10px;
    padding: 15px;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.outreachActivitiesBoxesInfo p {
    padding: 0 25px;
    font-size: 14px;
    margin-top: 15px;
    color: white;
}

.linkToContact {
    margin-bottom: 80px;
    width: 100%;
    height: 500px;
}

.linkToContactImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.linkToContactBtn {
    position: absolute;
    width: 550px;
    height: 40px;
    border-radius: 20px;
    background: #fe8282;
    margin: 50px 0 0 50px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.linkToContactBtn:hover {
    scale: 0.98;
    cursor: pointer;
}

.ourGame {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.ourGameInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90%;
    padding: 100px;
    border: 5px solid #800020;
    border-radius: 15px;
}

.ourGameInfo h1 {
    font-size: 50px;
    color: #800020;
    line-height: 50px;
}

.ourGameInfo p {
    margin-top: 30px;
    font-size: 25px;
    color: #772d42;
    font-weight: bold;
}

.ourGameInfo button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #800020;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;

    transition: 0.3s;
}

.ourGameInfo button:hover {
    scale: 0.98;
    cursor: pointer;
}
