.hero {
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-size: cover;
}

.heroInfo {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: #f45b69;
    width: 100%;
    height: 100%;
    text-align: end;
}

.heroInfo h1 {
    position: relative;
    right: 5%;
    top: 60vh;
    color: white;
    font-size: 70px;
    line-height: 65px;
}

@media screen and (max-width: 1100px) {
    .hero {
        height: calc(50vh - 100px);
    }

    .heroInfo h1 {
        top: 20vh;
        font-size: 45px;
        line-height: 45px;
    }
}

.heroContent {
    text-align: center;
    width: 100%;
    height: auto;
    background: #f45b69;
}

.heroContent p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 60px 50px 0 50px;
}

.heroContentImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 50px 0;
}

.heroContentImageImg {
    width: 40%;
    height: 300px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}

.reason, .funding, .partnership, .donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.reason h1, .funding h1, .partnership h1, .donate h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #f45b69;
    font-size: 35px;
}

.reason p, .funding p, .partnership p, .donate p {
    margin: 0 200px;
    font-size: 20px;
    font-weight: 500;
}

table, th, td {
    text-transform: uppercase;
    margin: 20px 0;
    padding: 20px;
    font-weight: bold;
}

th, td {
    background: #f45b69;
    color: white;
    border: 1px solid #f45b69;
}

.no-color {
    background: white;
    color: #f45b69;
}



