* {
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

header {
    background: white;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.logo {
    display: flex;
    width: 48%;
    height: auto;
    margin-right: 2%;
    z-index: 999;
    background: white;
}

.logoImage {
    margin: auto 0 auto 100px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.logoWords {
    margin: auto 10px;
    height: auto;
    color: #800020;
}

.menu {
    width: 50%;
}

.menu ul {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}

.menu li {
    margin: auto 0;
}

.menu li a {
    color: #754e59;
    font-weight: 400;
    text-decoration: none;
}

.menu li a:hover {
    font-weight: bold;
    color: #800020;
}

#onThisPage {
    font-weight: bold;
    color: #800020;
}

.hamburger {
    display: none;
    color: #800020;
    font-size: 45px;
    cursor: pointer;
    margin: auto 20px auto auto;
}

@media screen and (max-width: 1100px) {
    .logoImage {
        margin: auto 0 auto 30px;
    }

    .menu {
        position: absolute;
        top: -500px;
        right: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        top: 100px;
    }

    .menu ul {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 10px 0;
    }

    .menu li {
        margin: 20px auto;
    }

    .hamburger {
        display: block;
    }

    .logo {
        width: 70%;
    }

    .menu {
        width: 100%;
    }
}

