* {
    padding: 0;
    margin: 0;
}

header {
    background: white;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.logo {
    display: flex;
    width: 48%;
    height: auto;
    margin-right: 2%;
}

.logoImage {
    margin: auto 0 auto 100px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.logoWords {
    margin: auto 10px;
    height: auto;
    color: #800020;
}

.menu {
    width: 50%;
}

.menu ul {
    width: 100%;
    height: 100px;
    display: flex;

    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.menu li {
    margin: auto 0;

}

.menu li a {
    color: #754e59;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.menu li a:hover {
    font-weight: bold;
    color: #800020;
}

#onThisPage {
    font-weight: bold;
    color: #800020;
}

